<% @musics.each do |music| %>
  <div class="music">
    <h3><a href="/music/<%= music.id %>"><%= music.song_title %> <small>(by: <%= music.author %>)</small></h3>
    <p>
      <%= music.url %>
    </p>
  </div>
<% end %>

<a href="/">Back to Home</a>