<h1>Post a Song in the Music List</h1>

<% if @music.errors.any? %>
  <div>
    <strong>There are some issues with your song details, please correct them and try again</strong>
    <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul> 
  </div>
<% end %>



<form method="post", action="/music">

  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title" value="<%= @music.song_title %>"> 
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @music.author %>"> 
  </div>

  <div>
    <label>Url:</label>
    <input type="text" name="url" value="<%= @music.url %>">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
  
</form>