<div class="jumbotron">
  <h1>Home Page</h1>
  <p class="lead">
    Got a song stuck in your head? 
    Add it here and check out everyone 
    elses too! It's supa fwee (for now!)
  </p>
  <p>
    <a class="btn btn-lg btn-success" href="/music/new" role="button">Post a new song!</a>
  </p>
</div>
<div id="myElement">Loading the player...</div>


<iframe src="//content.jwplatform.com/players/fuUy0iCD-8cCVH6Fq.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe>

<!-- <audio controls>
  <source src="http://feeds.soundcloud.com/stream/243320398-sleepycabin-sleepycast-s2e10-one-dillion-clones.mp3" type="audio/mpeg",
  <source src="http://feeds.soundcloud.com/stream/246769461-sleepycabin-sleepycast-s2e12-the-stinky-cheese-harmonies.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio> -->


<!-- <audio controls>
  <source src="http://feeds.soundcloud.com/stream/246769461-sleepycabin-sleepycast-s2e12-the-stinky-cheese-harmonies.mp3" type="audio/mpeg">
  <source src="http://feeds.soundcloud.com/stream/241064044-sleepycabin-sleepycast-s2e8-court-night-terrors.mp3" type="audio/mpeg">
  <source src="http://feeds.soundcloud.com/stream/246769461-sleepycabin-sleepycast-s2e12-the-stinky-cheese-harmonies.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio> -->






