<h2>Login</h2>

<%= @error_message if @error_message %>

<form action="/validate_login" method="POST">
    <div class="login_form_wrap">

        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>

        <div class="form-group" id = "login_form_button">
            <button class="button" type="submit">Login</button>
        </div>
        <div>
            <p>
                Don't have an account? <a href="/signup">Signup!</a>
            </p>
        </div>
    </div>
</form>