<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
 <!--  <link rel="stylesheet" href="/stylesheets/normalize.css">
   --><!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

 <!--   <link rel="stylesheet" href="../../css/bootstrap.css"> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<!-- Optional theme-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="/">Home</a>
          </li>
          <% if current_user %>

            <li role="presentation">
              <a href="#"><%= current_user.name %></a>
            </li>
          
            <li role="presentation">
              <a href="/music">All Songs</a>
            </li>

            <li role="presentation">
              <a href="/user_music">Your Songs</a>
            </li>

            <li role="presentation">
              <a href="/music/new">Add a Song</a>
            </li>


            <li role="presentation">
              <a href="/logout">Logout</a>
            </li>

          <% else %>
            <li role="presentation">
              <a href="/login">Login</a>
            </li>

            <li role="presentation">
              <a href="/signup">Signup</a>
            </li>
          <% end %>

        </ul>
        <h3 class="text-muted">Everyone's Music List</h3>
      </nav>
    </div>

  <%= yield %>
</div>
</body>
</html>